#middlemenu
{
	margin: 166px 0px 95px 332px;
}
.author
{
	font-family: "times new roman";
	font-style: italic;
}
#footer
{
	margin: 0px 0px 0px 443px;
}
BODY
{
	background-color: #F4E7C4;
}
#main
{
	background-color: #FFFFFF;
	border-top: 3px solid #9B4738;
	border-bottom: 3px solid #9B4738;
	margin: 0 -8px;
	text-align: left;
}
#menu
{
	margin: 0px 0 28px;
}
.active_menu
{
	background-color: #EBD497;
	border-top: 3px solid #9B4738;
	border-left: 3px solid #9B4738;
	border-right: 3px solid #9B4738;
	padding: 2px 5px 3px 6px;
	float: left;
	margin: 0 5px 0px 0;
}
.current_menu
{
	background-color: #FFFFFF;
	border-top: 3px solid #9B4738;
	border-left: 3px solid #9B4738;
	border-right: 3px solid #9B4738;
	padding: 2px 5px 3px 6px;
	float: left;
	margin: 0 5px 0px 0;
	border-bottom: 3px solid #FFFFFF;
}
.inactive_menu
{
	background-color: #6B6767;
	border-top: 3px solid #9B4738;
	border-left: 3px solid #9B4738;
	border-right: 3px solid #9B4738;
	padding: 2px 5px 3px 6px;
	float: left;
	margin: 0 5px 0px 0;
	color: #9E8C8C;
}
.active_menu A
{
	color: #9B4738;
	text-decoration: none;
}
.active_menu A:hover
{
	background-color: #D3ACA6;
}
.content
{
	border: 2px solid #9B4738;
	margin: 0 20px 30px;
	padding: 10px 20px;
}
.modulheader
{
	margin: 29px 20px 0;
	border: 2px solid #9B4738;
	float: inherit;
	padding: 2px 5px 3px;
	background-color: #CE978E;
}
.current_menu A
{
	text-decoration: none;
	color: #CC3232;
}
.modulmenu
{
	float: left;
	margin: 0 5px 0px 0;
	color: #D34343;
}
#modulmenu
{
	margin: 6px 20px 15px 22px;
}
.modulmenu
{
	background-color: #FAD7D2;
	border: 2px solid #9B4738;
	padding: 4px;
}
.modulmenu A
{
	text-decoration: none;
	font-size: 7.6pt;
	color: #E11414;
}
.notification
{
	background-color: #F5FD3F;
	color: #020202;
}
.tablehead
{
	color: #C33218;
	background-color: #FAD266;
	border: 2px solid #000000;
	border-right: 2px solid #DC3131;
	border-left: 2px solid #DC3131;
	border-bottom: 2px solid #DC3131;
	border-top: 2px solid #DC3131;
}
.tablerow_even
{
	background-color: #F9F0D8;
}
.tablerow_even TD
{
	border-left: 2px solid #DC3131;
	border-right: 2px solid #DC3131;
	border-bottom: 2px solid #DC3131;
}
.tablerow_odd
{
	background-color: #FDE39E;
}
.tablerow_odd TD
{
	border-right: 2px solid #DC3131;
	border-left: 2px solid #DC3131;
	border-bottom: 2px solid #DC3131;
}
#table
{
	margin: 10px 0px;
}
#welcome
{
	text-align: right;
	margin: -2px 0px 0;
}
#judul
{
	margin: -40px 0 0px 61px;
	font: italic small-caps normal 22.4pt/23.4pt sans-serif;
	color: #9B4738;
}
A
{
	text-decoration: none;
	color: #AB0E0E;
}
#welcome A
{
	border-left: 2px solid #D56E6E;
	padding-left: 5px;
	padding-right: 5px;
}
#user
{
	color: #A74635;
	font-size: 13.9pt;
	/*[empty]font-style:;*/
}
.content H1
{
	margin: -131px 0 0 157px;
}
.content P
{
	margin: 111px 0 0 159px;
}
.calendar
{
	border: 1px solid #D93E25;
	background-color: transparent;
	margin: -90px 0 0 699px;
}
.calheading
{
	background-color: #EAD396;
	color: #943;
	font-family: "Lucida Grande", Verdana, Geneva, Sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
.calnavleft
{
	background-color: #D3B052;
	font-family: "Lucida Grande", Verdana, Geneva, Sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #E44;
	padding: 4px;
	cursor: pointer;
}
.calnavright
{
	background-color: #D3B052;
	font-family: "Lucida Grande", Verdana, Geneva, Sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #D33;
	text-align: right;
	padding: 4px;
	cursor: pointer;
}
.caldayheading
{
	background-color: #943;
	color: #FEE;
	font-family: "Lucida Grande", Verdana, Geneva, Sans-serif;
	font-size: 10px;
	text-align: center;
	padding: 6px 2px;
}
.caldaycells
{
	color: #000;
	background-color: #CD968D;
	font-family: "Lucida Grande", Verdana, Geneva, Sans-serif;
	font-size: 11px;
	text-align: center;
	padding: 4px;
	border: 1px solid #E0E5F1;
	cursor: pointer;
}
.caldaycellhover
{
	color: #FFF;
	background-color: #E5C05D;
	font-family: "Lucida Grande", Verdana, Geneva, Sans-serif;
	font-size: 11px;
	text-align: center;
	padding: 4px;
	border: 1px solid #B3BCD4;
	cursor: pointer;
}
.caldayselected
{
	background-color: #F6B917;
	color: #FFF;
	font-family: "Lucida Grande", Verdana, Geneva, Sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #566188;
	padding: 3px;
	cursor: pointer;
}
.calblanktop
{
	background-color: #FDD;
	padding: 4px;
}
.calblankbot
{
	background-color: #FDD;
	padding: 4px;
}
